@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #fffffe;
    /* 드래그 금지 - 필요할때 활성화 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    width: 100vw;
    height: 200vh;
}

/*left navigation*/
#left-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #53AAE9;
    z-index: 99999999; /*히히내가제일쎄!*/
    transform: translateX(0vw);
    transition: all 0.7s ease-in-out;
}

#left-nav.hidden {
    transform: translateX(-100vw);
    transition: all 0.3s ease-in-out;
}

#nav-close-icon {
    display: flex;
    position: absolute;
    width: 85px;
    height: 85px;
    background-image: url(./img/left_nav_close_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 5.2vw;
    top: 8.3vh;
}

#nav-contents {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 888px;
    height: 680px;
    top: 18.5vh;
    left: 6.25vw;
}

#nav-content-1 {
    display: flex;
    width: 244px;
    height: 586px;
    flex-direction: column;
}

#nav-content-1-1 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    line-height: 50%;
    text-align: center;
    margin-top: 60px;
}

#nav-content-1-1 span {
    font-size: 14px;
    font-weight: 300;
}

#nav-content-1-2 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-top: 60px;
}

#nav-content-1-2 span {
    font-size: 14px;
    font-weight: 500;
}

#nav-content-1-3 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-top: 60px;
}

#nav-content-1-3 span {
    font-size: 14px;
    font-weight: 500;
}

#nav-content-1-4 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    text-decoration: underline;
    margin-top: 36px;
}

#nav-content-1-5 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    margin-top: 113px;
}

#nav-content-1-5 span {
    font-weight: 400;
    color: #d9d9d9;
}

#nav-content-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 453px;
    height: 680px;
}

#nav-content-2 p {
    font-size: 80px;
    font-weight: 900;
}

.scroll-to-1 {
    color: #fff;
    transition: ease-in-out 0.25s;
}

.scroll-to-1:hover {
    color: #c0d1dd;
}

.scroll-to-2 {
    color: #fff;
    transition: ease-in-out 0.25s;
}

.scroll-to-2:hover {
    color: #c0d1dd;
}

.scroll-to-3 {
    color: #fff;
    transition: ease-in-out 0.25s;
}

.scroll-to-3:hover {
    color: #c0d1dd;
}

.scroll-to-4 {
    color: #fff;
    transition: ease-in-out 0.25s;
}

.scroll-to-4:hover {
    color: #c0d1dd;
}

.scroll-to-5 {
    color: #fff;
    transition: ease-in-out 0.25s;
}

.scroll-to-5:hover {
    color: #c0d1dd;
}

#nav-content-2 p:hover{
    cursor: pointer;
}

#nav-img {
    width: 480px;
    height: 100vh;
    position: absolute;
    background-image: url(./img/left_nav_img.png);
    background-size: cover;
    background-position: center;
    top: 0;
    right: 0;
}
/*left navigation end*/

/*debugging*/
#section-2-row-click-listner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.show-part1{
    transform: translateX(0vw);
    transition: all 1s;
}
.show-part2{
    transform: translateX(-100vw);
    transition: all 1s;
}
.show-part3{
    transform: translateX(-200vw);
    transition: all 1s;
}

.row-content {
    left: 0;
    bottom: 0;
    height: 100vh;
    transition: all 1s ease;
    transform: translateY(0);
    z-index: 999;
}

.row-content-cover {
    position: relative;
    display: flex;
    height: 100vh;
    /* justify-content: left; */
}

#bottom-marker {
    position: absolute;
    left: 0;
    bottom: 0;
}
/*debugging*/

/*로딩화면*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    /* 화면 최상단에 표시되도록 설정 */
}

#loading-cover {
    display: flex;
    width: 240px;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
}

.loading-dot {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 0.5s alternate infinite ease-in-out;
    margin: 0 8px;
    /* 점 사이의 간격 조절 */
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-dot:nth-child(4) {
    animation-delay: 0.6s;
}

.loading-dot:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(20px);
    }
}

.loadingText {
    font-size: 1em;
    color: #333;
}

/*----------------------------------*/

/* 좌측 fixed */
.aside-left {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 400px;
    margin-top: 90px;
    margin-left: 100px;
    z-index: 8888;
}

#menu {
    display: flex;
    background-image: url(img/menu-bar.png);
    background-size: contain;
    width: 100px;
    height: 60px;
    transition: all 0.5s;
}

.menu_open {
    transform: rotate(90deg);
}

.menu_close {
    transform: rotate(0deg);
}

#menu:hover {
    cursor: pointer;
}

#left-text {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    transform: rotate(-90deg);
    margin-right: 40px;
}

#left-text-top {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 12px;
}

#left-text-bottom {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 16px;
}

/* 우측 fixed */
.aside-right {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 0%;
    top: 0;
    margin-top: 45px;
    margin-right: 28px;
    width: 200px;
    height: 450px;
    z-index: 8888;
}

#logo {
    display: flex;
    background-image: url(img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 184px;
}

#scroll-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 12px;
    align-items: center;
    transform: rotate(90deg);
}

#scroll-bar p {
    font-size: 14px;
    margin-bottom: 8px;
}

#scroll-progress {
    display: flex;
    width: 200px;
    height: 3px;
    background-color: #d9d9d9;
    border-radius: 2px;
}

#scroll-progress-current {
    display: flex;
    width: 0px;
    /* 스크롤 프로그레스 커런트 우선 10px로 해놓음 */
    height: 3px;
    background-color: #1e1e1e;
    border-radius: 2px;
}

/* column content section setting */
.content-section {
    display: flex;
    width: 100vw;
}

/* column section-1 */
#section-1 {
    display: flex;
    height: 2040px;
    flex-direction: column;
    align-items: center;
}

#section-1-logo {
    display: flex;
    position: absolute;
    background-image: url(img/wavepark-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 320px;
    height: 80px;
    margin-top: 0px;
    top: 80px;
}

#section-1-text-black,
#section-1-text-white,
#section-1-text-blend {
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
}

#section-1-text-black {
    color: black;
    top: 250px;
    z-index: 1;
}

#section-1-text-white {
    color: white;
    top: 500px;
    z-index: 2;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);
}

#section-1-text-blend {
    color: black;
    top: 500px;
    z-index: -1;
}

#section-1-img {
    position: absolute;
    background-image: url('img/section-1-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 1400px;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.show-white-text {
    clip-path: none;
}

/* column section 2 */
#section-2 {
    display: flex;
    position: relative;
    height: 1800px;
    align-items: end;
}

#section-2 h3 {
    font-size: 28px;
    font-weight: 900;
    color: #505050;
}

#section-2 h2 {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
}

#section-2-img-1 {
    display: flex;
    background-image: url(img/section-2-img-1.png);
    background-size: contain;
    width: 720px;
    height: 1000px;
}

#section-2-img-2 {
    display: flex;
    background-image: url(img/section-2-img-2.png);
    background-size: contain;
    width: 840px;
    height: 640px;
}

#section-2-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 840px;
    height: 1030px;
}

#section-2-text-1 {
    display: flex;
    width: 400px;
    height: 230px;
    flex-direction: column;
}

#section-2-text-1 p {
    font-size: 20px;
    font-weight: 700;
    color: #505050;
    width: 400;
}

#section-2-text-1 h3 {
    margin-bottom: 2px;
}

#section-2-text-1 h2 {
    margin-bottom: 40px;
}

#section-2-part-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 1326px;
    margin-bottom: 154px;
    margin-left: 225px;
}

#section-2-text-2 p {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    width: 580px;
    margin-bottom: 40px;
}

/* column section 3 */
#section-3 {
    display: flex;
    position: relative;
    height: 2580px;
}

#section-3 h4 {
    position: absolute;
    font-size: 120px;
    font-weight: 900;
    color: #000;
    left: 360px;
    top: 440px;
}

#section-3 p {
    position: absolute;
    width: 360px;
    font-size: 20px;
    font-weight: 700;
    color: #505050;
    left: 1080px;
    top: 510px;
}

#section-3 h5 {
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    color: #202020;
    left: 1080px;
    top: 610px;
}

#section-3 h6 {
    font-size: 80px;
    font-weight: 900;
    color: #202020;
    transition: ease-in-out 0.25s;
}

#section-3-text-1 {
    position: absolute;
    left: 364px;
    top: 889px;
    z-index: 99991;
}

#section-3-text-1:hover {
    color: #53AAE9;
}

#section-3-text-2 {
    position: absolute;
    left: 936px;
    top: 1249px;
    z-index: 99991;
}
#section-3-text-2:hover {
    color: #53AAE9;
}

#section-3-text-3 {
    position: absolute;
    left: 406px;
    top: 1609px;
    z-index: 99991;
}

#section-3-text-3:hover {
    color: #53AAE9;
}

#section-3-text-4 {
    position: absolute;
    left: 800px;
    top: 1969px;
    z-index: 99991;
}

#section-3-text-4:hover {
    color: #53AAE9;
}

.section-3-img {
    display: flex;
    position: absolute;
    background-size: cover;
    width: 720px;
    height: 500px;
}

.section-3-text-img {
    display: flex;
    position: absolute;
    background-size: cover;
}

.display-none {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease-in-out;
}

.display-block {
    opacity: 0.8;
    transform: translateY(0px);
    transition: all 0.5s ease-in-out;
}

#section-3-img-1 {
    background-image: url(img/section-3-img-2.png);
    left: 610px;
    top: 690px;
    z-index: 99991;
}

#section-3-img-2 {
    background-image: url(img/section-3-img-1.png);
    left: 130px;
    top: 1052px;
    z-index: 99991;
}

#section-3-img-3 {
    background-image: url(img/section-3-img-4.png);
    left: 970px;
    top: 1412px;
    z-index: 99991;
}

#section-3-img-4 {
    background-image: url(img/section-3-img-3.png);
    top: 1760px;
    z-index: 99991;
}

#section-3-text-img-1 {
    background-image: url(img/section-3-text-img-1.png);
    width: 265px;
    height: 353px;
    left: 856px;
    top: 460px;
}

#section-3-text-img-2 {
    background-image: url(img/section-3-text-img-2.png);
    width: 225px;
    height: 353px;
    left: 980px;
    top: 895px;
}

#section-3-text-img-3 {
    background-image: url(img/section-3-text-img-3.png);
    width: 338px;
    height: 353px;
    left: 659px;
    top: 1328px
}

#section-3-text-img-4 {
    background-image: url(img/section-3-text-img-4.png);
    width: 331px;
    height: 353px;
    left: 967px;
    top: 1762px;
}

/* row section */
.content-section-row {
    display: flex;
    flex-direction: row;
    width: 300vw;
    height: 100vh;
    background-color: #53AAE9;
}

.content-section-row-part {
    display: flex;
    position: relative;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* row part 1 */
#section-row-part-1-img {
    display: flex;
    position: relative;
    margin-left: 80px;
    width: 62.5vw;
    height: 85vh;
    background-image: url(./img/section-4-img-1.png);
    background-size: cover;
}

#section-row-part-1-img p {
    display: flex;
    position: absolute;
    font-size: 40px;
    width: 180px;
    height: 120px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 8px;
    line-height: 150%;
    right: 33px;
    bottom: 50px;
}

#section-row-part-1-img div {
    display: flex;
    position: absolute;
    width: 180px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    right: 33px;
    bottom: 40px;
}

#section-row-part-1 p {
    display: flex;
    position: absolute;
}

#section-row-part-1-title-1 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 15.1vh;
    right: 258px;
}

#section-row-part-1-title-2 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 29.5vh;
    right: 200px;
}

#section-row-part-1-txt-1 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    top:49vh;
    right: 240px;
}

#section-row-part-1-txt-2 {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 354px;
    height: 72px;
    line-height: 150%;
    bottom: 6.85vh;
    right: 206px;
}

#section-row-part-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    z-index: 999;
    transition: ease-in-out 0.1s;
}

#section-row-part-button:hover {
    cursor: pointer;
    background-color: #d9e5ee;
}

.btn-invisible {
    opacity: 0;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}

.btn-visible {
    opacity: 1;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}

#section-row-part-button p {
    font-size: 28px;
    font-weight: 700;
    color: #53AAE9;
}

#section-row-part-1-button-div {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 800px;
    height: 60px;
    bottom: 30.5vh;
    right: 40px;
}

#section-row-part-1-button-arrow-1, #section-row-part-1-button-arrow-2 {
    display: flex;
    align-items: center;
}

#section-row-part-1-button-arrow-1 #arrow {
    /* 화살표 길이 수정 CSS 결과 240 */
    width: 60px; 
    }

#section-row-part-1-button-arrow-2 #arrow {
    /* 화살표 길이 수정 CSS 결과 120 */
    width: 60px;
    }

/* 화살표 */
#arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

#circle {
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #fff;
    margin-left: -4px;
}

#arrow-right {
    width: 16px;
    height: 16px;
    position: relative;
    transform: rotate(135deg);
}
#arrow-right::before, #arrow-right::after {
    content: '';
    position: absolute;
}
#arrow-right::before {
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    border-right: 0;
    border-bottom: 0;
}
#arrow-right::after {
    width: 36px;
    height: 2px;
    background: #fff;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}


/* row part 2 */
#section-row-part-2-img {
    display: flex;
    position: absolute;
    margin-left: 40px;
    margin-bottom: 120px;
    width: 46.9vw;
    height: 103vh;
    background-image: url(./img/section-4-img-2.png);
    background-size: cover;
}

#section-row-part-2-title-1 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 22.2vh;
    right: 664px;
}

#section-row-part-2-title-2 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 36.6vh;
    right: 310px;
}

#section-row-part-2-txt-1 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    top: 32.7vh;
    right: 277px;
}

#section-row-part-2-txt-2 {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 350px;
    height: 72px;
    line-height: 150%;
    top: 14.8vh;
    right: 330px;
}

#section-row-part-2 p {
    display: flex;
    position: absolute;
}

#section-row-part-2-txt-div{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 180px;
    height: 130px;
    bottom: 8.3vh;
    right: 759px;
}

#section-row-part-2-txt-div p {
    display: flex;
    font-size: 40px;
    width: 180px;
    height: 120px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 8px;
    line-height: 150%;
}

#section-row-part-2-txt-div div {
    display: flex;
    position: absolute;
    width: 180px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    bottom: 0;
}

#section-row-part-2-button-div {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 1840px;
    height: 60px;
    bottom: 30.5vh;
    left: 0;
}

#section-row-part-2-button-arrow-1, #section-row-part-2-button-arrow-2 {
    display: flex;
    align-items: center;
}

#section-row-part-2-button-arrow-1 #arrow {
    /* 화살표 길이 수정 CSS, 결과값 1280*/
    width: 100px; 
    }

#section-row-part-2-button-arrow-2 #arrow {
    /* 화살표 길이 수정 CSS 결과값 120*/
    width: 60px;
    }

/* row secetion 3 */
#section-row-part-3-img {
    display: flex;
    position: absolute;
    width: 62.5vw;
    height: 100vh;
    background-image: url(./img/section-4-img-3.png);
    background-size: cover;
}

#section-row-part-3-img p {
    display: flex;
    position: absolute;
    font-size: 40px;
    width: 180px;
    height: 120px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 8px;
    line-height: 150%;
    left: 80px;
    bottom: 90px;
}

#section-row-part-3-img div {
    display: flex;
    position: absolute;
    width: 180px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    left: 80px;
    bottom: 80px;
}

#section-row-part-3 p {
    display: flex;
    position: absolute;
}

#section-row-part-3-title-1 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 30vh;
    right: 496px;
}

#section-row-part-3-title-2 {
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -8px;
    color: #fff;
    top: 44.4vh;
    right: 404px;
}

#section-row-part-3-txt-1 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    top: 55.9vh;
    right: 240px;
}

#section-row-part-3-txt-2 {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 326px;
    height: 72px;
    line-height: 150%;
    top: 22.2vh;
    right: 314px;
}

#section-row-part-3-txt-3 {
    position: relative;
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    line-height: 150%;
    bottom: 7.4vh;
    right: 40px;
}

#section-row-part-3-button-div {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 1680px;
    height: 60px;
    bottom: 30.5vh;
    left: 40px;
}

#section-row-part-3-button-arrow-1 {
    display: flex;
    align-items: center;
}

#section-row-part-3-button-arrow-1 #arrow {
    /* 화살표 길이 수정 CSS */
    width: 100px; 
    }

/* row section 2 */
.content-section-row-2 {
    display: flex;
    position: relative;
    width: 200vw;
    height: 100vh;
    margin-top: 80vw;
}

#section-2-row-part-imgs {
    display: flex;
    position: absolute;
    width: 3440px;
    height: 720px;
    align-items: center;
    justify-content: space-between;
    left: 160px;
    top: 5vh;
    transition: transform 0.5s ease;
}

#section-2-row-part-1 {
    display: flex;
    width: 500px;
    height: 400px;
    background-image: url(./img/section-5-img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-2 {
    display: flex;
    width: 360px;
    height: 320px;
    background-image: url(./img/section-5-img-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-3 {
    display: flex;
    width: 600px;
    height: 720px;
    background-image: url(./img/section-5-img-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-4 {
    display: flex;
    width: 300px;
    height: 400px;
    background-image: url(./img/section-5-img-4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-5 {
    display: flex;
    width: 400px;
    height: 500px;
    background-image: url(./img/section-5-img-5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-6 {
    display: flex;
    width: 440px;
    height: 400px;
    background-image: url(./img/section-5-img-6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-7 {
    display: flex;
    width: 480px;
    height: 720px;
    background-image: url(./img/section-5-img-7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section-2-row-part-bar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    height: 48px;
    padding: 0 20px;
    left: 450px;
    bottom: 40px;
}

.row-part-current-bar {
    display: flex;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #d9d9d9;
    transition: ease-in-out 0.25s;
}

#current-1 {
    background-color: #53AAE9;
}

/* footer section */
footer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #404040;
    margin-top: 320px;
}

#footer-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    width: 1315px;
    height: 175px;
}

#footer-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 164px;
}

#footer-content-1-logo {
    display: flex;
    width: 240px;
    height: 80px;
    background-image: url(./img/footer-img-wavepark-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#footer-content-1-SNSs {
    display: flex;
    width: 240px;
    height: 60px;
    justify-content: space-between;
}

#footer-content-1-SNS-1 {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(./img/footer-SNS-logo-1.png);
    background-size: cover;
    background-color: #fff;
}

#footer-content-1-SNS-2 {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(./img/footer-SNS-logo-2.png);
    background-size: cover;
    background-color: #fff;
}

#footer-content-1-SNS-3 {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(./img/footer-SNS-logo-3.png);
    background-size: cover;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 12px;
}

.footer-detail {
    font-size: 14px;
    font-weight: 100;
    line-height: 150%;
    color: #fff;
}

#footer-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 175px;
}

#footer-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 171px;
}

#footer-content-3-div {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 56px;
    background-color: #909090;
    border-radius: 8px;
    padding: 0 20px;
}

#footer-content-3-div p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

#footer-content-3-div div {
    width: 32px;
    height: 32px;
    background-image: url(./img/footer-mail-logo.png);
    background-size: contain;
}

#footer-line {
    display: flex;
    position: absolute;
    width: 75vw;
    height: 2px;
    background-color: #909090;
    bottom: 79px;
}