@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/*debugging*/
.row-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5000px;
    height: 100vh;
    transform: translateY(0);
    background-image: url('/img/section-3-img-3.png');
}

.row-content-cover {
    position: relative;
    display: flex;
    justify-content: left;
}

#bottom-marker {
    position: absolute;
    left: 0;
}

/*debugging*/

/*로딩화면*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    /* 화면 최상단에 표시되도록 설정 */
}

#loading-cover {
    display: flex;
    width: 240px;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
}

.loading-dot {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 0.5s alternate infinite ease-in-out;
    margin: 0 8px;
    /* 점 사이의 간격 조절 */
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

.loading-dot:nth-child(4) {
    animation-delay: 0.6s;
}

.loading-dot:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(20px);
    }
}

.loadingText {
    font-size: 1em;
    color: #333;
}

/*----------------------------------*/

body {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #fffffe;
    /* 드래그 금지 - 필요할때 활성화 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
    width: 100vw;
    height: 200vh;
}

/* 좌측 fixed */
.aside-left {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 450px;
    margin-top: 90px;
    margin-left: 100px;
    z-index: 10;
}

#menu {
    display: flex;
    background-image: url(img/menu-bar.png);
    background-size: contain;
    width: 100px;
    height: 60px;
}

#left-text {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
    transform: rotate(-90deg);
    margin-right: 40px;
}

#left-text-top {
    font-size: 16px;
    font-weight: 700;
}

#left-text-bottom {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* 우측 fixed */
.aside-right {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    right: 0%;
    margin-top: 45px;
    margin-right: 28px;
    width: 200px;
    height: 500px;
    z-index: 10;
}

#logo {
    display: flex;
    background-image: url(img/logo.png);
    background-size: contain;
    width: 200px;
    height: 247px;
}

#scroll-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
}

#scroll-bar p {
    font-size: 14px;
    margin-bottom: 8px;
}

#scroll-progress {
    display: flex;
    width: 200px;
    height: 3px;
    background-color: #d9d9d9;
    border-radius: 2px;
}

#scroll-progress-current {
    display: flex;
    width: 0px;
    /* 스크롤 프로그레스 커런트 우선 10px로 해놓음 */
    height: 3px;
    background-color: #1e1e1e;
    border-radius: 2px;
}

/* column content section setting */
.content-section {
    display: flex;
    width: 100vw;
}

/* column section-1 */
#section-1 {
    height: 2040px;
    flex-direction: column;
    align-items: center;
}

#section-1-logo {
    display: flex;
    background-image: url(img/wavepark-logo.png);
    background-size: contain;
    width: 320px;
    height: 80px;
    margin-top: 80px;
}

#section-1-text-black,
#section-1-text-white,
#section-1-text-blend {
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
}

#section-1-text-black {
    color: black;
    top: 250px;
    z-index: 1;
}

#section-1-text-white {
    color: white;
    top: 500px;
    z-index: 2;
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 100% 0);
}

#section-1-text-blend {
    color: black;
    top: 500px;
    z-index: -1;
}

#section-1-img {
    position: absolute;
    background-image: url('img/section-1-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 1400px;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.show-white-text {
    clip-path: none;
}

/* column section 2 */
#section-2 {
    display: flex;
    position: relative;
    height: 1800px;
    align-items: end;
}

#section-2 h3 {
    font-size: 28px;
    font-weight: 900;
    color: #505050;
}

#section-2 h2 {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
}

#section-2-img-1 {
    display: flex;
    background-image: url(img/section-2-img-1.png);
    background-size: contain;
    width: 720px;
    height: 1000px;
}

#section-2-img-2 {
    display: flex;
    background-image: url(img/section-2-img-2.png);
    background-size: contain;
    width: 840px;
    height: 640px;
}

#section-2-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 840px;
    height: 1030px;
}

#section-2-text-1 {
    display: flex;
    width: 400px;
    height: 230px;
    flex-direction: column;
}

#section-2-text-1 p {
    font-size: 20px;
    font-weight: 700;
    color: #505050;
    width: 400;
}

#section-2-text-1 h3 {
    margin-bottom: 2px;
}

#section-2-text-1 h2 {
    margin-bottom: 40px;
}

#section-2-part-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 1326px;
    margin-bottom: 154px;
    margin-left: 225px;
}

#section-2-text-2 p {
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    width: 580px;
    margin-bottom: 40px;
}

/* column section 3 */
#section-3 {
    display: flex;
    position: relative;
    height: 2580px;
}

#section-3 h4 {
    position: absolute;
    font-size: 120px;
    font-weight: 900;
    color: #000;
    left: 360px;
    top: 440px;
}

#section-3 p {
    position: absolute;
    width: 360px;
    font-size: 20px;
    font-weight: 700;
    color: #505050;
    left: 1080px;
    top: 510px;
}

#section-3 h5 {
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    color: #202020;
    left: 1080px;
    top: 610px;
}

#section-3 h6 {
    font-size: 80px;
    font-weight: 900;
    color: #202020;
}

#section-3-text-1 {
    position: absolute;
    left: 364px;
    top: 889px;
}

#section-3-text-2 {
    position: absolute;
    left: 936px;
    top: 1249px;
}

#section-3-text-3 {
    position: absolute;
    left: 406px;
    top: 1609px;
}

#section-3-text-4 {
    position: absolute;
    left: 800px;
    top: 1969px;
}

.section-3-img {
    display: flex;
    position: absolute;
    background-size: cover;
    width: 720px;
    height: 500px;
}

.section-3-text-img {
    display: flex;
    position: absolute;
    background-size: cover;
}

#section-3-img-1 {
    background-image: url(img/section-3-img-2.png);
    left: 610px;
    top: 690px;
}

#section-3-img-2 {
    background-image: url(img/section-3-img-1.png);
    left: 130px;
    top: 1052px;
}

#section-3-img-3 {
    background-image: url(img/section-3-img-4.png);
    left: 970px;
    top: 1412px;
}

#section-3-img-4 {
    background-image: url(img/section-3-img-3.png);
    top: 1760px;
}

#section-3-text-img-1 {
    background-image: url(img/section-3-text-img-1.png);
    width: 265px;
    height: 353px;
    left: 856px;
    top: 460px;
}

#section-3-text-img-2 {
    background-image: url(img/section-3-text-img-2.png);
    width: 225px;
    height: 353px;
    left: 980px;
    top: 895px;
}

#section-3-text-img-3 {
    background-image: url(img/section-3-text-img-3.png);
    width: 338px;
    height: 353px;
    left: 659px;
    top: 1328px
}

#section-3-text-img-4 {
    background-image: url(img/section-3-text-img-4.png);
    width: 331px;
    height: 353px;
    left: 967px;
    top: 1762px;
}